@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 14, 27, 22;
  --background-start-rgb: 14, 27, 22;
  --background-end-rgb: 14, 27, 22;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.btn {
  color: #026e78;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.dashboardCard {
  background-color: #10261f;
  color: #ffff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin: 0.5rem;
  padding: 1rem;
}
